body{
	font-size: $base-font-size;
}
.x-image{
	img{
		width:100%!important;
	}
}
.x-navbar {
    background-color: $sc_blue;
    opacity: 0.8;
}
//Set classes on column containing image
.img_50-50_left{
  @include img_half;
  .x-text-headline{
  	position:  absolute;
    top: 30%;
    right:  0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4)!important;
    h2{
    	margin: 0!important;
    	line-height: 2!important;
    }
  }
}
.img_50-50_right{
  @include img_half;
  .x-text-headline{
  	position:  absolute;
    top: 30%;
    right:  0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4)!important;
    h2{
    	margin: 0!important;
    	line-height: 2!important;
    }
  }
}

//Typography
h1, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Playfair Display', serif!important;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
}
p{
	font-size: $base-font-size;
	line-height: $base-line-height;
}
.el77.x-text{
	font-size: $base-font-size;
}
.white_txt{
	color:$white!important;
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color:$white!important;
	}
}
