.slider_50{
  @include img_half;
  padding:0!important;
  @media all and (max-width: 1120px) {
    vertical-align: middle!important;
    padding:0!important;
  }
}

.center_image{
  vertical-align: middle!important;
}

//Reclaimed Cobbles
.specifications{
  width:70%;
  margin-top: 2.0em!important;
  display:block;
  @media all and (max-width: 900px) {
    width:100%;
  }
  h3{
    font-family: $main-body;
    font-weight: 500;
    font-size: 2.0em;
    width:100%;
    border-bottom: 1px solid $dk_grey;
    margin-bottom: 0.75em;
  }
  p{
    font-size: 0.75em; 
  }
  .spec_row{
    @include clearfix;
    display: block;
    width: 100%;
    padding: 0 1.0em;
  }
  hr{
    border-bottom: 1px solid $med_grey;
  }
  .label{
    display: inline-block;
    float:left;
    width:45%;
  }
  .spec_val{
    display: inline-block;
    float:right;
    width:45%;
    text-align: right;
  }
}

.ff_finds_txt{
  .white_txt{
    padding:1.0em 2.0em!important;
    h4{
      margin-top: 1.0em;
      font-style: italic;
      font-size: 1.2em;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      line-height: 2.8;
    }
  }
}
.stone_buyer{
  a{
    color:$sc_lt_grey;
    &:hover{
      color:$b_a-arrow_white;
    }
  }
}

.full_image_col{
  @include img_half;
}