@mixin img_half() {
  margin: 0px;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  img{
    visibility: hidden;
    opacity: 0;
  }
  @media all and (max-width: 900px) {
    opacity:1.0;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
